/*
Modelo de caixa
*/

.conteudo {
    border: 1px solid red;
    
    /*
    padding-top: 20px; 
    padding-right: 20px; 
    padding-bottom: 20px;
    padding-left: 20px;
    width: 150px;*/
    padding: 20px 15px 10px 50px;
    width: 150px;
}