a {

}

 /*Links visitados.*/
a:link {
    color: #b9c941;
}

/*Links hover, passa o cursor sobre o link*/
a:hover {
    color: #e9e9e9;
    background-color: #000000;
    text-decoration: none;
}

/*Links ativos, quando clicados*/
a:active {
    color: #ff0000;
}

a {
    text-decoration: none;
    padding: 5px 10px;
}

