#noticia {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

h2.titulo-noticia {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border: 1px solid red;
}