body {
    background: #4994c7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#container {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}

h1 {
    
}

p {
    width: 300px;
} 

.absolute {
    position: absolute; 
    top: 20px; /*top = topo | rigth = direita | left = esquerda | bottom = parte inferior */
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    
}

.relative {
    position: relative; 
    top: 20px; /*top = topo | rigth = direita | left = esquerda | bottom = parte inferior */
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    
}
