/* Limpar formatações padrões*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: #f4f4f4;
    color: #333;
}

/*
Layout
*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px; 
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}


#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    
}



#area-postagens, #area-lateral {
    background: orange;
    
}

#area-postagens {
    width: 640px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;

}

.postagem {
    padding: 20px;
    margin-bottom:20px;
    background: white;
}
#rodape {
    background: #CCC;
    text-align: center;
    padding: 15px;
    clear: both;
}

/*
Formatação Links
*/

img {
    width: 615px;
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color: #FFF;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background: white;

}



/*
Formatações Gerais
*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color: #f7b600;
}

.branco {
    color: white;
}

.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;

}
